body {
    margin: 0;
    padding: 0;
    background-image: url('manface.jpeg');
}

   /* nav stlying  */
.MyNav {
        position: fixed;
        width: 100px;
        background-color: transparent;
        height: 70px;
        line-height: 100px;
        font-weight: bold;
        border-radius: 10px;
        text-align: center;
        

        
}


.MyNav ul {
    display: flex;
    font-size: larger;
    font-weight: bolder;
    margin-left: 50%;
}


.MyNav ul li {
    
    display: inline;
    padding: 0%;
    list-style: none;
    margin-left: 70px;
    /* margin-top: 27px; */
    font-size: 20px;
    justify-content: center;
}

.MyNav ul li a{
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    color: #ec9940;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.MyNav ul li a:hover{
    color: #ff7200;

}

  /* styling the image section part*/

#myimage{
    width: 100%;
    height: 100%;
    

}

p {
    background-color: transparent;
    color: rgb(21, 20, 20);
    text-align: center;
    padding: 5%;
    font-family: fantasy;
    font-size: x-large
    
}

.overlay-text{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: black; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
}
   /* styling the ordered list */
ol {
    list-style-type: none;
}
 
 /* styling the form section  */

#contact {
    margin: 20px;
    padding: 10px;
}

#contact > input, label, button {
    display: block;
}



input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    
}

   /* button section */
.btn {
    width: 30%;
    margin: auto;
    background-color: rgb(243, 146, 11);
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    color: black;
    cursor: pointer;

}

.btn:hover {
    background-color: orange;
    border: none;
    color: black;
}

 /* h3 styling */
h3{
    text-align: center;
    text-emphasis: none;
    background-color: #ec9940;
    padding: 5px;
    margin: 5px;
}
/* paragraphs  */
p{
    text-align: center;
}
#iddiv{
    padding: 5px;
    margin: 5px;
    background-color: #ec9940;
    border-radius: 10px;
 background-origin: padding-box;
}

 /* footer section  */
footer{
    background-color: rgb(216, 197, 197);
    padding: 40px;
    text-align: center;
    color: white;
    font-size: large;
    bottom: 0;
    height: 100px;
    position: relative;
    height: 30px;
    margin-top: -30px;
    clear: both;
    
}
footer div h3 {
    background-color: rgb(216, 197, 197);
    letter-spacing: 5px;
    margin-top: 0px;
    padding: 0;
    font-size: x large;
    
    
}
/* icon section  */
 .icon{
    letter-spacing: 60px;
    font-size: xx-large;
 }